@import "tailwindcss";
@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";
:root {
  line-height: 1.5;
  font-weight: 400;
  padding: 30px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #061e34;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
